html, body {
    margin: 0;
    padding: 0;

    background: #e7e7e7;

    font-family: Calibri, serif;
}

.content {
    position: relative;

    background: white;

    max-width: 1920px;
    height: 2200px;
    margin: 80px auto 0;

    font-size: 28px;
}

.content .section {
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding: 10px 5%;
}

.content p {
    margin: 0;
    padding: 10px 20px;
}

.content ul {
    list-style-type: none;

    padding: 0 8%;
    margin: 0 0 50px;
}

.content a {
    color: black;
    text-decoration-line: none;
    font-family: "Calibri Light", serif;
}

.content p a{
    color: #0077aa;
}

.content p a:hover {
    color: aqua;
}

.content li a:hover span {
    color: #71ebff;
}

#example {
    background-color: #f9f9f9;
    padding: 0 30px;
    margin: 10px;
    border: 2px solid #e4e4e4;
}

