html, body {
    margin: 0;
    padding: 0;
    font-family: Calibri, serif;

    background-color: #e9e9e9;
    height: 100%
}

.content {
    position: relative;

    background: white;

    min-height: 100%;
    max-width: 1920px;
    height: auto;
    margin: 80px auto 0;

    font-size: 28px;
}


.content .section {
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding: 10px 5%;
}

.content p {
    text-indent: 50px;
    text-align: justify;
    margin: 0;
    padding: 10px 20px;
}

.content ul {
    list-style-type: none;

    padding: 0 8%;
    margin: 0 0 50px;
}

.content a {
    color: black;
    text-decoration-line: none;
    font-family: "Calibri Light", serif;
}

.content p a {
    color: #0077aa;
}

.content p a:hover {
    color: aqua;
}

.content li a:hover span {
    color: #71ebff;
}

span {
    color: #0077aa;
}

span:hover {
    color: aqua;
}

.example {
    background-color: #f9f9f9;
    padding: 0 30px;
    margin: 10px;
    border: 2px solid #e4e4e4;
}

.warning {
    background-color: #F0E68C;
    padding: 0 30px;
    margin: 10px;
    border: 2px solid #e4e4e4;
}

.markJSX {
    background: #71ebff;
}

.button a {
    display: inline-block;
    background: #0077aa;
    padding: 6px 50px;
    color: white;
}

.button a:hover {
    background: #888888;
}

.next {
    float: right;
}

img {
    display: block;
    margin: 0 auto;
}